---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
    <center class="mt-5"><h1>My Projects</h1></center>

    <Card
        title="News Website"
        url="https://News-Website.shreyashosahall.repl.co"
        img="https://ck12live.s3.ap-south-1.amazonaws.com/user/5f44e384c306e039d6620a3f/classroom/original/1671270378761-1671270377333.png"
    />

    <Card
        title="Image Gallery"
        url="https://Image-Gallery.shreyashosahall.repl.co"
        img="https://ck12live.s3.ap-south-1.amazonaws.com/user/5f44e384c306e039d6620a3f/classroom/original/1671270718963-1671270717223.png"
    />

    <Card
        title="ThoughtBot"
        url="https://Thoughtbot.shreyashosahall.repl.co"
        img="https://ck12live.s3.ap-south-1.amazonaws.com/user/5f44e384c306e039d6620a3f/classroom/original/1671270903779-1671270902503.png"
    />

    <Card
        title="McDonalds Animation"
        url="https://animations.shreyashosahall.repl.co/"
        img="https://ck12live.s3.ap-south-1.amazonaws.com/user/5f44e384c306e039d6620a3f/classroom/original/1671271051207-1671271049682.png"
    />

    <Card
    title="McDonalds Animation"
    url="https://Quiz.shreyashosahall.repl.co"
    img="https://ck12live.s3.ap-south-1.amazonaws.com/user/5f44e384c306e039d6620a3f/classroom/original/1671271214257-1671271212762.png"
    /> 

    
</Layout>
